<div class="container" style="border: #0f5132 7px solid">

  <div class="row" style="border: #51220f solid 5px ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/inicio']">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/usuario']">Usuario</a>
            </li>
          </ul>

        </div>
        <div class="d-flex">
         <div class="row">
          <div class="col-12">
            <div *ngIf="usuarioLogeado" class="card" style="width: 18rem;">
              <img [src]="usuarioLogeado.picture" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">{{usuarioLogeado.name}}.</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <button *ngIf="!estaLogeado" class="btn btn-dark" (click)="login()">Login</button>
          <button *ngIf="estaLogeado" class="btn btn-danger" (click)="logout()">logout</button>

          </div>
         </div>
          </div>
      </div>
    </nav>
  </div>

<div class="row" style="border:#160f51 solid 5px">

<router-outlet></router-outlet>
</div>


</div>

